Repository ghostery/ghostery-extension, pull requests merged in 2024-05, with the labels that each got.

#1565 Release 10.3.0
  extension-manifest-v2/package.json
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/background/exceptions.js
  extension-manifest-v3/src/background/stats.js
  extension-manifest-v3/src/background/utils/request.js
  extension-manifest-v3/src/pages/panel/components/copy.js
  extension-manifest-v3/src/pages/panel/views/home.js
  extension-manifest-v3/src/pages/panel/views/protection-status.js
  extension-manifest-v3/src/pages/panel/views/tracker-details.js
  extension-manifest-v3/src/pages/settings/components/preview-dialog.js
  extension-manifest-v3/src/pages/settings/components/trackers-list.js
  extension-manifest-v3/src/pages/settings/views/preview.js
  extension-manifest-v3/src/pages/settings/views/tracker-add-exception.js
  extension-manifest-v3/src/pages/settings/views/trackers.js
  extension-manifest-v3/src/utils/trackerdb.js
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
  packages/ui/package.json
  packages/ui/src/modules/panel/components/protection-status-toggle.js
Labels: package

#1588 Release v10.3.1
  extension-manifest-v3/package.json
  extension-manifest-v3/src/background/reporting/index.js
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1596 Fix showing stats when ghostery is paused
  extension-manifest-v3/src/background/adblocker.js
Labels: Firefox, v10

#1606 Release v10.3.3
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/background/stats.js
  extension-manifest-v3/src/background/utils/request.js
  extension-manifest-v3/src/pages/panel/views/home.js
  extension-manifest-v3/src/pages/panel/views/navigation.js
  extension-manifest-v3/src/pages/panel/views/tracker-details.js
  extension-manifest-v3/src/pages/settings/views/tracker-details.js
  extension-manifest-v3/src/pages/settings/views/website-details.js
  extension-manifest-v3/src/store/tab-stats.js
  extension-manifest-v3/src/store/tracker-exception.js
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
  packages/ui/src/modules/global/components/button.js
  packages/ui/src/modules/global/components/toggle.js
  packages/ui/src/modules/panel/components/stats.js
Labels: package

#1615 Refactor domain stats to hostname
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/background/autoconsent.js
  extension-manifest-v3/src/background/dnr.js
  extension-manifest-v3/src/background/exceptions.js
  extension-manifest-v3/src/background/paused.js
  extension-manifest-v3/src/background/reporting/webrequest-reporter.js
  extension-manifest-v3/src/background/stats.js
  extension-manifest-v3/src/manifest.chromium.json
  extension-manifest-v3/src/manifest.safari-ios.json
  extension-manifest-v3/src/manifest.safari-macos.json
  extension-manifest-v3/src/pages/panel/views/home.js
  extension-manifest-v3/src/pages/panel/views/protection-status.js
  extension-manifest-v3/src/pages/panel/views/tracker-details.js
  extension-manifest-v3/src/pages/settings/views/tracker-add-exception.js
  extension-manifest-v3/src/pages/settings/views/websites.js
  extension-manifest-v3/src/store/tab-stats.js
  extension-manifest-v3/src/utils/trackerdb.js
Labels: package

#1612 Release 8.12.11
  extension-manifest-v2/manifest.json
Labels: Firefox
