Repository ghostery/ghostery-extension, pull requests merged in 2024-02, with the labels that each got.

#1465 Fix default values for storage migration from v8
  extension-manifest-v3/src/store/options.js
Labels: v10, package

#1453 Release 10.2.10
  extension-manifest-v3/package.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1474 Remove hacky fix for the android pages height issue
  packages/ui/src/modules/settings/components/layout.js
Labels: Firefox, v10

#1424 Fix source url check for updating stats on Firefox
  extension-manifest-v3/src/background/stats.js
  extension-manifest-v3/src/background/utils/request.js
Labels: Type: Bug, Firefox, v10

#1478 Release 10.2.11
  extension-manifest-v3/package.json
  extension-manifest-v3/src/background/stats.js
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: v10, Opera, release, package

#1484 Simplify Never-Consent UI/UX
  extension-manifest-v2/app/content-scripts/autoconsent.js
  extension-manifest-v2/src/background.js
  extension-manifest-v2/src/classes/ConfData.js
  extension-manifest-v2/src/classes/PanelData.js
  extension-manifest-v2/src/modules/autoconsent.js
  extension-manifest-v3/src/background/autoconsent.js
  extension-manifest-v3/src/pages/autoconsent/index.js
  extension-manifest-v3/src/store/options.js
  packages/ui/src/modules/autoconsent/views/confirm.js
  packages/ui/src/modules/autoconsent/views/home.js
  packages/ui/src/modules/autoconsent/views/main.js
Labels: Type: Never-Consent, v8, v10, UI

#1485 Release 10.2.12
  extension-manifest-v3/package.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: v10, Opera, Safari, package
