Repository ghostery/ghostery-extension, pull requests merged in 2024-09, with the labels that each got.

#1850 fix: set TrackerDB blocked by default flag to `true` & refactor exceptions blocking rules
  extension-manifest-v3/scripts/download-engines/index.js
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/background/dnr.js
  extension-manifest-v3/src/background/exceptions.js
  extension-manifest-v3/src/manifest.chromium.json
  extension-manifest-v3/src/manifest.safari-ios.json
  extension-manifest-v3/src/manifest.safari-macos.json
  extension-manifest-v3/src/utils/trackerdb.js
  extension-manifest-v3/tests/background/.gitkeep
  extension-manifest-v3/tests/background/exceptions.test.js
Labels: package

#1855 Add Persian filters
  extension-manifest-v3/src/utils/regions.js
Labels: Feature Request

#1857 fix: `Pause on this site` main panel action & add revoke countdown
  extension-manifest-v3/src/pages/panel/components/pause.js
  extension-manifest-v3/src/pages/panel/store/notification.js
  extension-manifest-v3/src/pages/panel/views/home.js
  extension-manifest-v3/src/pages/settings/components/protection-status.js
  extension-manifest-v3/src/pages/settings/views/privacy.js
  extension-manifest-v3/src/pages/settings/views/websites.js
  packages/ui/src/modules/panel/components/protection-status-toggle.js
  packages/ui/src/modules/panel/components/revoke-at.js
  packages/ui/src/modules/panel/styles.css
Labels: package

#1860 Release v10.4.4
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1864 Disable autoconsent cosmetic injection
  extension-manifest-v3/src/background/autoconsent.js
Labels: Feature Request, Never-Consent

#1842 $replace modifier
  extension-manifest-v3/package.json
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/utils/engines.js
  package-lock.json
Labels: Ad-Blocking, Firefox, package

#1863 Fix missing telemetry fields
  extension-manifest-v3/src/background/telemetry/index.js
  extension-manifest-v3/src/background/telemetry/language.js
  extension-manifest-v3/src/background/telemetry/metrics.js
  extension-manifest-v3/src/pages/onboarding/index.js
Labels: Bug

#1865 fix: fallback to storage.local when IndexedDB is corrupted
  extension-manifest-v3/src/manifest.firefox.json
  extension-manifest-v3/src/utils/engines.js
Labels: package

#1876 fix: add requests to stats when pause is turned on
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/background/stats.js
Labels: Bug, Firefox, package

#1874 Release v10.4.5
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1881 feat: use scripting.ExecutionWorld enum for executeScript world
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/background/autoconsent.js
  extension-manifest-v3/src/background/serp.js
Labels: Bug, Firefox, Never-Consent

#1875 Adblocker: inject scriptlets to a proper frame
  extension-manifest-v3/src/background/adblocker.js
Labels: Bug, Ad-Blocking, package

#1889 Fix the TrackerDB metainformation domain lookup
  extension-manifest-v3/src/utils/trackerdb.js
Labels: Bug

#1887 Release v10.4.6
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1888 fix: update the dark mode & ui components clean up
  extension-manifest-v3/src/pages/panel/components/alert.js
  extension-manifest-v3/src/pages/panel/components/button.js
  extension-manifest-v3/src/pages/panel/components/copy.js
  extension-manifest-v3/src/pages/panel/components/dialog.js
  extension-manifest-v3/src/pages/panel/components/menu-item.js
  extension-manifest-v3/src/pages/panel/components/notification.js
  extension-manifest-v3/src/pages/panel/components/options-item.js
  extension-manifest-v3/src/pages/panel/components/pause.js
  extension-manifest-v3/src/pages/panel/views/home.js
  extension-manifest-v3/src/pages/panel/views/tracker-details.js
  extension-manifest-v3/src/pages/settings/assets/selective_blocking.svg
  extension-manifest-v3/src/pages/settings/components/dialog.js
  extension-manifest-v3/src/pages/settings/components/help-image.js
  extension-manifest-v3/src/pages/settings/components/input.js
  extension-manifest-v3/src/pages/settings/components/layout.js
  extension-manifest-v3/src/pages/settings/components/preview-dialog.js
  extension-manifest-v3/src/pages/settings/components/trackers-list.js
  extension-manifest-v3/src/pages/settings/views/tracker-details.js
  packages/ui/src/modules/global/components/button.js
  packages/ui/src/modules/global/components/icon.js
  packages/ui/src/modules/global/components/text.js
  packages/ui/src/modules/global/components/toggle.js
  packages/ui/src/modules/global/components/tooltip.js
  packages/ui/src/modules/onboarding/components/dialog.js
  packages/ui/src/modules/onboarding/styles.css
  packages/ui/src/modules/panel/components/action.js
  packages/ui/src/modules/panel/components/header.js
  packages/ui/src/modules/panel/components/list.js
  packages/ui/src/modules/panel/components/protection-status-toggle.js
  packages/ui/src/modules/panel/dark.css
  packages/ui/src/modules/panel/styles.css
Labels: package

#1896 Release v10.4.7
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
  packages/ui/src/modules/onboarding/views/main.js
Labels: package

#1903 Feedback from $replace filters
  src/background/adblocker.js
  src/background/stats.js
Labels: Firefox, package

#1907 Release v10.4.8
  package-lock.json
  package.json
  src/_locales/de/messages.json
  src/_locales/en/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/it/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
  xcode/Ghostery.xcodeproj/project.pbxproj
Labels: package
