Repository ghostery/ghostery-extension, pull requests merged in 2024-08, with the labels that each got.

#1776 Fix toggle exception blocked status
  extension-manifest-v3/src/pages/panel/views/protection-status.js
  extension-manifest-v3/src/pages/settings/views/tracker-details.js
  extension-manifest-v3/src/pages/settings/views/trackers.js
  extension-manifest-v3/src/store/tracker-exception.js
Labels: package

#1769 Release v10.3.16
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1786 Support trusted types
  extension-manifest-v3/src/background/adblocker.js
Labels: Ad-Blocking, package

#1788 Release v10.3.17
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1750 Support `$redirect` in DNR
  extension-manifest-v3/scripts/build.js
  extension-manifest-v3/scripts/download-engines/index.js
Labels: package

#1793 Release v10.3.18
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1801 Fix options migration from v8
  extension-manifest-v3/src/store/options.js
Labels: package

#1738 Regional filters
  extension-manifest-v2/package.json
  extension-manifest-v3/package.json
  extension-manifest-v3/scripts/build.js
  extension-manifest-v3/scripts/download-engines/index.js
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/background/custom-filters.js
  extension-manifest-v3/src/background/dnr.js
  extension-manifest-v3/src/background/index.js
  extension-manifest-v3/src/manifest.chromium.json
  extension-manifest-v3/src/pages/settings/components/checkbox.js
  extension-manifest-v3/src/pages/settings/components/custom-filters.js
  extension-manifest-v3/src/pages/settings/views/privacy.js
  extension-manifest-v3/src/store/options.js
  extension-manifest-v3/src/utils/engines.js
  extension-manifest-v3/src/utils/regions.js
  package-lock.json
  packages/ui/src/modules/global/components/button.js
  packages/ui/src/utils/labels.js
Labels: package

#1806 Release v10.4.0
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1812 Set Firefox min version for support current background script config
  extension-manifest-v3/src/manifest.firefox.json
Labels: Firefox

#1821 Panel UI minor fixes
  extension-manifest-v3/src/pages/panel/components/menu-item.js
  extension-manifest-v3/src/pages/panel/views/home.js
  extension-manifest-v3/src/pages/panel/views/navigation.js
  extension-manifest-v3/src/pages/panel/views/protection-status.js
  packages/ui/src/modules/panel/components/header.js
  packages/ui/src/modules/panel/components/protection-status-icon.js
Labels: package

#1825 Fix v8 migration data & uninstall URL
  extension-manifest-v3/src/background/telemetry.js
  extension-manifest-v3/src/store/options.js
Labels: package

#1826 Release v10.4.2
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1838 fix: force reload engines IndexedDB when loading throws an error
  extension-manifest-v3/src/utils/engines.js
Labels: package, QA: Tests

#1836 fix: global pause must overwrite block DNR rules
  extension-manifest-v3/src/background/dnr.js
  extension-manifest-v3/src/background/paused.js
Labels: Chrome, Edge, Opera, Safari, package, QA: Tests

#1843 Release v10.4.3
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1824 feat: dark mode
  extension-manifest-v3/src/pages/panel/assets/sleep.svg
  extension-manifest-v3/src/pages/panel/components/container.js
  extension-manifest-v3/src/pages/panel/components/dialog.js
  extension-manifest-v3/src/pages/panel/components/feedback.js
  extension-manifest-v3/src/pages/panel/components/menu-item.js
  extension-manifest-v3/src/pages/panel/components/options-item.js
  extension-manifest-v3/src/pages/panel/components/pause.js
  extension-manifest-v3/src/pages/panel/views/home.js
  extension-manifest-v3/src/pages/panel/views/navigation.js
  extension-manifest-v3/src/pages/panel/views/protection-status.js
  extension-manifest-v3/src/pages/settings/components/badge.js
  extension-manifest-v3/src/pages/settings/components/card.js
  extension-manifest-v3/src/pages/settings/components/custom-filters.js
  extension-manifest-v3/src/pages/settings/components/dialog.js
  extension-manifest-v3/src/pages/settings/components/help-image.js
  extension-manifest-v3/src/pages/settings/components/input.js
  extension-manifest-v3/src/pages/settings/components/layout.js
  extension-manifest-v3/src/pages/settings/components/preview-dialog.js
  extension-manifest-v3/src/pages/settings/views/account.js
  extension-manifest-v3/src/pages/settings/views/privacy.js
  extension-manifest-v3/src/pages/settings/views/tracker-details.js
  extension-manifest-v3/src/pages/settings/views/trackers.js
  packages/trackers-preview/src/content_scripts/styles.css
  packages/ui/src/modules/global/components/button.js
  packages/ui/src/modules/global/components/toggle.js
  packages/ui/src/modules/global/components/tracker-wheel.js
  packages/ui/src/modules/onboarding/components/card.js
  packages/ui/src/modules/onboarding/components/layout.js
  packages/ui/src/modules/onboarding/components/pin-it.js
  packages/ui/src/modules/onboarding/illustrations/disabled.js
  packages/ui/src/modules/onboarding/illustrations/protection.js
  packages/ui/src/modules/onboarding/index.js
  packages/ui/src/modules/onboarding/opera-serp.js
  packages/ui/src/modules/onboarding/styles.css
  packages/ui/src/modules/onboarding/views/outro-success.js
  packages/ui/src/modules/panel/components/header.js
  packages/ui/src/modules/panel/components/protection-status-toggle.js
  packages/ui/src/modules/panel/components/stats.js
  packages/ui/src/modules/panel/dark.css
  packages/ui/src/modules/panel/index.js
  packages/ui/src/modules/panel/styles.css
  packages/ui/src/modules/trackers-preview/assets/disable-preview.svg
  packages/ui/src/modules/trackers-preview/index.js
Labels: package, QA: Tests
