Repository ghostery/ghostery-extension, pull requests merged in 2024-10, with the labels that each got.

#1924 fix(onboarding): update the welcome page
  src/background/onboarding.js
  src/background/serp.js
  src/background/telemetry/index.js
  src/background/telemetry/metrics.js
  src/pages/onboarding/components/dialog.js
  src/pages/onboarding/elements.js
  src/pages/onboarding/index.js
  src/pages/onboarding/views/addon-health.js
  src/pages/onboarding/views/main.js
  src/pages/onboarding/views/performance.js
  src/pages/onboarding/views/privacy.js
  src/pages/onboarding/views/skip.js
  src/pages/onboarding/views/success.js
  src/pages/onboarding/views/web-trackers.js
  src/store/options.js
  src/ui/components/text.js
Labels: package

#1939 Release v10.4.9
  package-lock.json
  package.json
  src/_locales/de/messages.json
  src/_locales/en/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/it/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
  src/pages/onboarding/components/dialog.js
  src/pages/onboarding/views/addon-health.js
  src/pages/onboarding/views/main.js
  src/pages/onboarding/views/performance.js
  src/pages/onboarding/views/web-trackers.js
  src/utils/engines.js
  xcode/Ghostery.xcodeproj/project.pbxproj
Labels: package

#1948 Ad-blocking: better DNR rulesets for Safari
  scripts/build.js
  scripts/download-engines.js
  src/manifest.safari-ios.json
  src/manifest.safari-macos.json
  src/utils/dnr-converter-safari.js
  src/utils/dnr-converter.js
  xcode/Ghostery.xcodeproj/project.pbxproj
Labels: Bug, Ad-Blocking, Safari

#1965 fix(onboarding): Enable ghostery in panel with a link to the correct view
  src/pages/panel/views/home.js
Labels: package

#1976 Release v10.4.11
  package-lock.json
  package.json
  src/_locales/de/messages.json
  src/_locales/en/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/it/messages.json
  src/_locales/ja/messages.json
  src/_locales/ko/messages.json
  src/_locales/pl/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
  xcode/Ghostery.xcodeproj/project.pbxproj
Labels: package

#1996 fix: fallback `sender.url` on Safari
  src/background/adblocker.js
Labels: Safari, package
