Repository ghostery/ghostery-extension, pull requests merged in 2024-06, with the labels that each got.

#1620 Release: 10.3.4
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/src/pages/panel/components/pause.js
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1629 Fix close Opera SERP popup actions after reloading extension
  extension-manifest-v3/src/pages/onboarding/opera-serp.js
Labels: v10, Opera

#1628 Clean up devtools mode
  extension-manifest-v3/src/background/dnr.js
  extension-manifest-v3/src/pages/settings/components/devtools.js
  extension-manifest-v3/src/pages/settings/views/privacy.js
Labels: v10, package

#1634 Release v10.3.5
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: Chrome, v10, Edge, Opera, Safari, package

#1646 Unify `webextension-polyfill` version to avoid nested node_modules
  extension-manifest-v2/package.json
  extension-manifest-v3/package.json
  package-lock.json
  packages/libs/package.json
  patches/webextension-polyfill+0.10.0.patch
  patches/webextension-polyfill+0.12.0.patch
Labels: v8, v10

#1648 Global pause feature
  extension-manifest-v3/src/background/adblocker.js
  extension-manifest-v3/src/background/autoconsent.js
  extension-manifest-v3/src/background/dnr.js
  extension-manifest-v3/src/background/reporting/webrequest-reporter.js
  extension-manifest-v3/src/background/stats.js
  extension-manifest-v3/src/pages/panel/components/notification.js
  extension-manifest-v3/src/pages/panel/components/pause.js
  extension-manifest-v3/src/pages/panel/store/notification.js
  extension-manifest-v3/src/pages/panel/views/home.js
  extension-manifest-v3/src/pages/panel/views/protection-status.js
  extension-manifest-v3/src/pages/settings/components/devtools.js
  extension-manifest-v3/src/pages/settings/components/help-image.js
  extension-manifest-v3/src/pages/settings/components/page-layout.js
  extension-manifest-v3/src/pages/settings/views/privacy.js
  extension-manifest-v3/src/pages/settings/views/websites.js
  extension-manifest-v3/src/pages/settings/views/whotracksme.js
  extension-manifest-v3/src/store/options.js
  extension-manifest-v3/src/utils/trackerdb.js
  packages/ui/src/modules/global/components/text.js
  packages/ui/src/modules/global/components/toggle.js
Labels: v10, package

#1654 Add website dialog for adjusted protection websites
  extension-manifest-v3/src/pages/settings/components/dialog.js
  extension-manifest-v3/src/pages/settings/components/input.js
  extension-manifest-v3/src/pages/settings/store/hostname.js
  extension-manifest-v3/src/pages/settings/views/tracker-add-exception.js
  extension-manifest-v3/src/pages/settings/views/tracker-details.js
  extension-manifest-v3/src/pages/settings/views/websites-add.js
  extension-manifest-v3/src/pages/settings/views/websites.js
  packages/ui/src/modules/global/components/button.js
  packages/ui/src/modules/panel/styles.css
Labels: package

#1655 Release v10.3.7
  extension-manifest-v3/package.json
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: v10, package

#1663 Experimental filters
  extension-manifest-v3/src/pages/settings/views/privacy.js
  extension-manifest-v3/src/store/options.js
  extension-manifest-v3/src/utils/engines.js
Labels: package

#1670 Add `audio_video_player` `social_media` and `customer_interaction` categories to block by default
  extension-manifest-v3/src/utils/trackerdb.js
Labels: package

#1673 Release v10.3.9 (176)
  extension-manifest-v3/package.json
  extension-manifest-v3/scripts/release.sh
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
  packages/ui/src/modules/global/components/tracker-wheel.js
  packages/ui/src/modules/panel/styles.css
Labels: Never-Consent, package

#1686 Unify onboarding for all platforms
  extension-manifest-v2/_locales/en/messages.json
  extension-manifest-v2/_locales/ja/messages.json
  extension-manifest-v2/_locales/ko/messages.json
  extension-manifest-v2/_locales/pl/messages.json
  extension-manifest-v2/_locales/pt_BR/messages.json
  extension-manifest-v2/_locales/zh_CN/messages.json
  extension-manifest-v2/_locales/zh_TW/messages.json
  extension-manifest-v2/app/onboarding/index.js
  extension-manifest-v2/app/panel/elements/onboarding-state.js
  extension-manifest-v2/app/renew/index.js
  extension-manifest-v2/app/trackers-preview/index.js
  extension-manifest-v2/app/youtube/index.js
  extension-manifest-v3/src/_locales/de/messages.json
  extension-manifest-v3/src/_locales/en/messages.json
  extension-manifest-v3/src/_locales/es/messages.json
  extension-manifest-v3/src/_locales/fr/messages.json
  extension-manifest-v3/src/_locales/it/messages.json
  extension-manifest-v3/src/_locales/ja/messages.json
  extension-manifest-v3/src/_locales/ko/messages.json
  extension-manifest-v3/src/_locales/pl/messages.json
  extension-manifest-v3/src/_locales/pt_BR/messages.json
  extension-manifest-v3/src/_locales/ru/messages.json
  extension-manifest-v3/src/_locales/zh_CN/messages.json
  extension-manifest-v3/src/_locales/zh_TW/messages.json
  packages/ui/package.json
  packages/ui/src/modules/onboarding/components/error-card.js
  packages/ui/src/modules/onboarding/components/feature.js
  packages/ui/src/modules/onboarding/short.js
  packages/ui/src/modules/onboarding/styles.css
  packages/ui/src/modules/onboarding/views/main.js
  packages/ui/src/modules/onboarding/views/outro-skip.js
  packages/ui/src/modules/onboarding/views/outro-success.js
  packages/ui/src/modules/onboarding/views/short/main.js
  packages/ui/src/modules/onboarding/views/short/outro-skip.js
  packages/ui/src/modules/onboarding/views/skip.js
Labels: v8

#1688 Release v10.3.10-177
  extension-manifest-v3/package.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package

#1697 Release v10.3.11-178
  extension-manifest-v3/package.json
  extension-manifest-v3/xcode/Ghostery.xcodeproj/project.pbxproj
  package-lock.json
Labels: package
