Repository ghostery/ghostery-extension, changes with the owners that CODEOWNERS names for each.
All owners: @ghostery/extension, @wlycdgr, @christophertino, @benstrumeyer

CODEOWNERS:

# Ghostery CODEOWNERS
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

# Core Ghostery team
*       @ghostery/extension

# CMP / Metrics / WebRequest
/src/classes/ABTest.js @wlycdgr
/src/classes/CMP.js @christophertino
/src/classes/Conf.js @christophertino
/src/classes/ConfData.js @christophertino
/src/classes/Debuggers.js @wlycdgr
/src/classes/EventHandlers.js @christophertino
/src/classes/Metrics.js @wlycdgr
/src/classes/PanelData.js @wlycdgr
/src/classes/PolicySmartBlock.js @christophertino

# Background
/src/background.js @christophertino

# The Ghostery Hub
/app/hub/ @benstrumeyer

# Dawn Hub
/app/dawn-hub @wlycdgr

# Shared Components
/app/shared-components @wlycdgr

# Build Tools
.eslintrc.js @christophertino
babel.config.js @christophertino
webpack.config.js @christophertino

# Unit Tests
/test/ @christophertino

Update search dropdown CSS to handle variable height
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.scss
Owners: @wlycdgr

Update setup_number to use fetchSearchEnginesAsync value for other dropdown list
  app/dawn-hub/Views/OnboardingView/OnboardingConstants.js
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
Owners: @wlycdgr

Update setSetupStep setup_numbers
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
Owners: @wlycdgr

Move user to success screen if they get redirected to checkout-web in a new tab
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/index.jsx
Owners: @wlycdgr

Remove search permission from manifest as it is added to Dawn GBE at build time
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
  manifest.json
Owners: @wlycdgr, @ghostery/extension

Add setupStep constants to Step 4 and update BlockSettingsView renderHelpers
  app/dawn-hub/Views/OnboardingView/OnboardingConstants.js
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/BlockSettingsView.jsx
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
Owners: @wlycdgr

One liner onClick handlers
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
Owners: @wlycdgr

Change setup_number to dawn_setup_number
  app/dawn-hub/Views/OnboardingViews/Step1_CreateAccountView/Step1_CreateAccountView.jsx
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/BlockSettingsView.jsx
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
  src/background.js
  src/classes/ConfData.js
  src/classes/Metrics.js
Owners: @wlycdgr, @christophertino

Add list of possible search engines, minus SEARCH_ENCRYPT and update dawn_setup_numbers
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchConstants.js
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
Owners: @wlycdgr

setup_number ping parameter (#669)
  _locales/en/messages.json
  app/dawn-hub/Views/OnboardingView/OnboardingConstants.js
  app/dawn-hub/Views/OnboardingViews/Step1_CreateAccountView/Step1_CreateAccountView.jsx
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/BlockSettingsView.jsx
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchConstants.js
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/index.jsx
  app/ghostery-browser-hub/Views/OnboardingView/OnboardingConstants.js
  src/background.js
  src/classes/ConfData.js
  src/classes/Metrics.js
Owners: @ghostery/extension, @wlycdgr, @christophertino

Remove comment that is no longer relevant
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
Owners: @wlycdgr

Fix block settings styling, update Next or Start Trial button label on Select Plan screen
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/BlockSettingsView.scss
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
Owners: @wlycdgr

Restore free trial link. Add UTM params to premium checkout link. Update CTA button copies. Ensure user is on a plus trial after redirecting to glowstery domains
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
  src/classes/Globals.js
Owners: @wlycdgr, @ghostery/extension

Remove unused variable
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
Owners: @wlycdgr

Filter our StartPage and Ghostery Glow fromother search engines dropdown
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
Owners: @wlycdgr

Fix certain block settings not saving
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/BlockSettingsView.jsx
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/__tests__/BlockSettingsView.test.jsx
Owners: @wlycdgr

GH-2248: Update CTA & links to Plus, Premium, and free trial subscriptions (#671)
  app/dawn-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.jsx
  src/classes/Globals.js
Owners: @wlycdgr, @ghostery/extension

Test update
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/__tests__/BlockSettingsView.test.jsx
Owners: @wlycdgr

Fix certain block settings not setting (#672)
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/BlockSettingsView.jsx
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/__tests__/BlockSettingsView.test.jsx
Owners: @wlycdgr

Restore some clobbered paths in tests in the old Hub
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
  app/hub/Views/SetupView/__tests__/SetupView.test.jsx
  app/hub/Views/SetupView/__tests__/SetupViewContainer.test.jsx
  app/hub/Views/SetupView/__tests__/__snapshots__/SetupView.test.jsx.snap
  app/hub/Views/SetupView/__tests__/__snapshots__/SetupViewContainer.test.jsx.snap
Owners: @wlycdgr, @benstrumeyer

Remove unused old-name directory
  app/ghostery-browser-hub/Views/OnboardingView/OnboardingConstants.js
Owners: @ghostery/extension

Update Block Settings view tests to match new value in the code
  app/dawn-hub/Views/OnboardingViews/Step2_BlockSettingsView/__tests__/BlockSettingsView.test.jsx
  app/hub/Views/SetupView/__tests__/__snapshots__/SetupView.test.jsx.snap
  app/hub/Views/SetupView/__tests__/__snapshots__/SetupViewContainer.test.jsx.snap
Owners: @wlycdgr, @benstrumeyer

Use our logger instead of console.log in ChooseDefaultSearchView
  app/dawn-hub/Views/OnboardingViews/Step3_ChooseDefaultSearchView/ChooseDefaultSearchView.jsx
Owners: @wlycdgr

Remove hack that forced Dawn hub from background. Add support for opening the Dawn hub to openIntroHub method of the console debugger.
  src/background.js
  src/classes/Debugger.js
Owners: @christophertino, @ghostery/extension
